@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300&display=swap');
    
.header{    
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    margin-left: 1rem;
}

.logo h2{
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(48, 29, 107);
    border-bottom: none;
}

.ul-items{
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
}

.ul-items li{
    margin-right: 3.5rem;
}

.ul-items li a{
    color: rgb(40, 40, 40);
    text-decoration: none;
    text-transform: uppercase;
} 

.ul-items li a:hover{
    border-bottom: 2px solid #000;
    transition: all 0.1s ease-out;
}

.hamburger-menu{
    display: flex;
}

.hamburger-menu .menu{
    font-size: 30px;
    color: rgb(73, 71, 71);
    cursor:pointer
}


.slider{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    top: 0;
    z-index: 1;
    transition: 1s ease;
    right: -100%;
}


.slider .slider-ul{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 4rem;
}


.slider-ul li{
    width: 400px;
    border: 2px solid #fff;
    padding: 45px;
}



.slider-ul a{
  text-decoration: none;
  font-size: 35px;
  color: #fff;
}

.slider.active{
    right: 0;
    width: 100%;
}

@media screen and (max-width: 800px){

.slider{
    width: 80%;
    transition: 1s ease;
    
}


.slider .slider-ul{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 4rem;
}


.slider-ul li{
    width: 100%;
    border: 2px solid #fff;
    padding: 45px;
}

.slider-ul a{
  text-decoration: none;
  font-size: 35px;
  color: #fff;
}

.slider.active{
    right: 0;
    width: 100%;
}

}


@media screen and (max-width: 640px){
    .slider{

        height: 130vh;
    }
    .slider .slider-ul{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        

    }
    
    
    .slider-ul li{
        width: 100%;
        border: 2px solid #fff;
        padding: 45px;
       
    }
    
    .slider-ul a{
      text-decoration: none;
      font-size: 35px;
      color: #fff;
    }
    
    .slider.active{
        right: 0;
        width: 100%;
    }
    
    }


    @media screen and (max-width: 480px){

        .slider{
            width: 100%;
            transition: 1s ease;     
        }
        
        
        .slider .slider-ul{
            width: 100%;
            display: table-column;
            grid-template-columns: repeat(2,1fr);
            list-style: none;
            gap: 2rem;
            
        }
        
        
     .Menuitem{
            width: 100%;
            border: 5px solid #fff;
            padding: 20px;
        
            align-items: center;
        }
        
        .slider-ul a{
          text-decoration: none;
          font-size: 30px;
          color: #fff;
        }
        

        }

