@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@300&display=swap');


.section-2{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: none;
    border-top: none;
    font-family: 'Noto Sans JP','Sen', sans-serif;

}

.about-me{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-2{
    display: flex;
    align-items: center;
    padding: 70px;
    justify-content: space-between;

}

.image-cont img{
    width: 400px;
    border: 3px solid rgb(0, 0, 0);
}


.text-3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 45px;
    border: 2px solid rgb(0, 0, 0);
    padding: 40px;
    margin-left: 40px;
    
    
}


.text-3 p {
    border-top: 2px solid rgb(0, 0, 0) ;
    
}



@media screen and (max-width: 600px){
    .section-2{
        width: 100%;
        height: auto;
    }
    
    .image-cont img{
        width: 324px;
        height: 550px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .text-3 p {
        border-top: 2px solid rgb(0, 0, 0) ;
        
    }
    .text-3 {
        border-top: 2px solid rgb(0, 0, 0) ;
        margin-top: 5rem;
        margin-right: 3rem; 
    }
    

    .container-2{
        display: block;
        align-items: center;
        padding: 40px;
        justify-content: space-between;
    
    }

}




@media screen and (max-width: 400px){
 
    .image-cont img{
        width: 285px;
        height: 550px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .text-3 p {
        border-top: 2px solid rgb(0, 0, 0) ;
        
    }
    .text-3 {
        border-top: 2px solid rgb(0, 0, 0) ;
        margin-top: 5rem;
        margin-right: 3rem; 
    }
    

    .container-2{
        display: block;
        align-items: center;
        padding: 40px;
        justify-content: space-between;
    
    }

}