html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border: 3px solid black;
  background-color: #fff;
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


